  <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light" id="my-navbar">
        <a class="navbar-brand" href="/"><img id="homeLogo" src="/img/Logo/black.png" alt=""></a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
            aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" style="width:100%" id="collapsibleNavId">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    {{!-- <li class="nav-item d-flex align-content-center justify-content-center align-items-center">
                            <div class="icon-container">
                                <a id="search-toggle" class="nav-link" href="#">
                                    <i class="icon fas fa-search" style="font-size:16px"></i></a>
                                </a>
                            </div>
                        </li>
    
                        <li id="search-bar" class="nav-item align-items-center" style="display: none">
                                <input type="text" class="form-control-plaintext control-inline my-inpyt-text"
                                placeholder="Searching">
                        </li> --}}
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact us</a>
                </li>
                <li class="nav-item dropdown">
                    <a name="" id="" class="btn btn-outline-secondary" href="/users/signup" role="button">Sign up</a>
                </li>
            </ul>
        </div>

        <div class="collapse navbar-collapse" id="collapsibleNavId">
        </div>
    </nav>
