<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/a2.css">
<link rel="stylesheet" href="/css/a1.css">
<link rel="stylesheet" href="/css/c3.css">
<link rel="stylesheet" href="/css/c1.css">
<!-- font awsome -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

<div class="container text-center border p-5 mt-5 mb-5">
    <h1 class="text-success">Booking Completed</h1>
    <h2>Thank you for using our service! Have a nice trip!</h2>
    <h4>Window will close in <p id="secondLeft" class="d-inline text-primary ">3</p> second(s)</h4>

</div>

<script src="/js/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script src="/js/handlebars-v4.1.2.js"></script>
<script src="/js/successPayment.js"></script>