<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/a1.css">
<link rel="stylesheet" href="/css/b1.css">
<link rel="stylesheet" href="/css/b2.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css">
<!-- font awsome -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">




<a href="/"><img src="/img/Logo/black.png" class="logo-login" alt=""></a>

<div class="container text-center col-5 border p-5 mt-5 mb-5">
    <h3 style="color: #D70303">Enter email to reset password</h3>
    <form method="GET" action="/forgotpass/sendmail">
        <div class="form-group">
            <input type="email" class="form-control-plaintext control-inline my-inpyt-text" name="email" placeholder="Enter email" required/>
        </div>
        
        <button type="submit" class="btn btn-primary">Send</button>
    </form>

</div>


<script src="/js/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>