h4{
    font-size: 20px !important;
}

h5{
    font-size: 16px !important;
}

.a3-container {
    padding-top: 10px;
    padding-bottom: 10px;
}


.navbar {
    background-color: white !important;
    border-bottom: #494949 solid 1px;
    padding: 0px 8px !important;
}


.a3-title {
    margin: 24px !important;
    margin-bottom: 10px !important;
    margin-top: 10px !important;
    font-size: 30px !important;
}



.container .panel-right input,
.container .panel-right textarea {
    box-sizing: border-box;
    width: 90%;
    position: relative;
    color: #242424;
    border: 1px solid #B7B7B7;

}

.panel-right form h4,
.panel-right textarea,
.panel-right button,
.panel-right input {

    margin-left: 30px;
    margin-right: 30px;
}

.panel-right form h4{
    margin-top: 18px;
}

.panel-right textarea{
    border-radius: 5px;
    padding-left: 10px;
    margin-bottom: 10px;
}

.panel-right input{
    border-radius: 5px;
    height: 50px;
    padding-left: 10px;
}

.panel-left div,
.panel-left h2,
.panel-left h4,
.panel-left h5 {
    margin-left: 24px;
    margin-right: 24px;
}

.panel-left h4 {
    font-size: 20px;
    padding-left: 60px;
}

.panel-left h5 {
    font-size: 16px;
    padding-left: 60px;
}

h5.a3-subtitle{
    padding-left: 0px;
}

.panel-right h4 {
    font-size: 20px;
}

.line{
    width: 85%;
    height: 2%;
    border-top: 1px solid #494949;
    position: relative;
}
.a3-form {
    background-color: white;
    border: 1px solid #494949;
    border-radius: 5px;
    padding: 10px 10px !important;
}

.a3-icon{
    float: left;
    padding-left: 40px;
    color: #494949 !important;
}
